<%= link_to question do %>
<div class="question panel panel-default">
  <div class="question_status">
    <div class="thumb-btn">
      <span class="glyphicon glyphicon-thumbs-up" aria-label="voted_for" aria-hidden="true"></span>
      <b><%= question.get_upvotes.size - question.get_downvotes.size %></b>
    </div>
    <div class="thumb-btn">
      <span class="glyphicon glyphicon-thumbs-down" aria-label="answers" aria-hidden="true"></span>
      <b><%= question.answers.count %></b>
    </div>
  </div>
  <div class="info">
    <%= question.title %> by <b><%= question.user.name %></b>
    <br>
    <i>Tags:</i>
    <% question.tags.map(&:name).each do |t| %>
      <%= link_to "/tags/#{t}" do %>
        <tag class="badge"><%=t%></tag>
      <% end %>
    <% end %>
  </div>
</div>
<% end %>
