<div class="question-header">
  <h1><%= @question.title %></h1>
  <div class="favorite-btn">
    <% unless @question.is_favorited_by current_user %>
      <%= link_to favorite_question_path(@question), method: :put, class: 'btn btn-default btn-sm' do %>
        <span class="glyphicon glyphicon-star-empty"></span> favorite
      <% end %>
    <% else %>
      <%= link_to unfavorite_question_path(@question), method: :put, class: 'btn btn-default btn-sm' do %>
        <span class="glyphicon glyphicon-star"></span> unfavorite
      <% end %>
    <% end %>
    <% if !current_user.nil? && current_user.id == @question.user_id %>
    <%= link_to "edit", edit_question_path(@question), class: 'btn btn-sm btn-warning' %>
    <%= link_to "delete", "/questions/#{@question.id}", :method => :delete, class: 'btn btn-sm btn-danger' %>
    <% end %>
  </div>
  by <b><%= @question.user.name %></b>,
  <span>Tags: </span>
  <% @question.tags.map(&:name).each do |t| %>
    <%= link_to "/tags/#{t}" do %>
      <tag class="badge"><%=t%></tag>
    <% end %>
  <% end %>
</div>

<div class="question-content">
  <%= Markdown.new(@question.content).to_html.html_safe %>
</div>

<div class="like-btns">
  <%=link_to like_question_path(@question), method: :put, class: 'btn btn-info btn-lg' do %>
  <span class="glyphicon glyphicon-chevron-up"></span>
  like <%=@question.get_upvotes.size%></td>
  <% end %>
  <%=link_to dislike_question_path(@question), method: :put, class: 'btn btn-success btn-lg' do %>
  <span class="glyphicon glyphicon-chevron-down"></span>
  dislike <%=@question.get_downvotes.size%></td>
  <% end %>
</div>
<%= render @question.comments, locals: {accepted_id: @accepted_id} %>
<%= render partial: "comments/form", locals: {commentable: @question} %>
<h3> Write your Answer</h3>
<br>
<%= render "answers/form" unless current_user.nil? %>
<%= render @question.answers %>
<%= link_to "back", '/questions', class: "btn btn-danger" %>

