<h1><%= @chatroom.title %></h1>

<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <%= render @chatroom.messages %>
</div>

<%= form_for @message, url: root_url do |f| %>
<div class="form-group">
  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control' %>
  <small class="text-muted">From 2 to 1000 characters</small>
</div>

<%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>
