<div>
  <% unless answer.content.blank? %>
    <%= answer.content.html_safe %>

    <%= render answer.comments %>

    <%= render partial: "comments/form", locals: {commentable: answer} %>
      
    <!--
    <%= link_to "Add comment", new_answer_comment_path(answer.question, answer) unless current_user.nil? %>
    -->
    <%=link_to like_question_answer_path(answer.question_id, answer), method: :put, class: 'btn btn-default btn-sm' do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      like <%= answer.get_upvotes.size%></td>
    <% end %>
    <%=link_to dislike_question_answer_path(answer.question_id, answer), method: :put, class: 'btn btn-default btn-sm' do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
      dislike <%= answer.get_downvotes.size%></td>
    <% end %>
    <div>
      <% if !current_user.nil? && answer.user_id == current_user.id && !answer.nil?  %>
        <%= link_to "edit", edit_question_answer_path(answer.question_id, answer.id) %>
        <%= link_to "delete", "/questions/#{answer.question_id}/answers/#{answer.id}", :method => :delete %>
      <% else %>
        <%= link_to "Report", "#" %>
      <% end %>
    </div>
  <% end %>
</div>
