<footer class="footer">
  <%= link_to "About", about_path %>
  <%= link_to "Tour", "#" %>
  <%= link_to "Chat", "#" %>
  <%= link_to "Help", help_path %>
  <%= link_to "Legal", "#" %>
  <%= link_to "Privacy policy", "#" %>
  <%= link_to "Contact", "#" %>
  <%= link_to "Feedback", "#" %>
  
  <br>
  <br>
  <br>
  <div id="categories">
    <div class="col-md-2">
      <b>Core</b><br>
      <div class="category col-md-6">
	  <li>Ruby</li>
	  <li>HTTP</li>
	  <li>Rack</li>
	  <li>Unix</li>
      </div>
      <div class="category col-md-6">
	<li>Database</li>
	<li>
      </div>
    </div>
    <div class="col-md-2">
      <b>Frontend</b><br>
      <div class="category col-md-6">
	  <li>HTML</li>
	  <li>JavaScript</li>
	  <li>CSS</li>
	  <li></li>
      </div>
      <div class="category col-md-6">
      </div>
    </div>
    <div class="col-md-4">
      <b>Backend</b><br>
      <div class="category col-md-4">
	<li>ORM</li>
	<li>Amazon</li>
	<li>GAE</li>
	<li>Testing</li>
      </div>
      <div class="category col-md-4">
	<li>Scheduling</li>
	<li>Production</li>
	<li>API</li>
	<li>Logging</li>
      </div>
      <div class="category col-md-4">
	<li>Debugging</li>
      </div>
    </div>
    <div class="col-md-4">
      <b>Domain</b><br>
      <div class="category col-md-6">
	<li>SEO</li>
	<li>Statistics</li>
	<li>Authentication</li>
	<li>Coding style</li>
      </div>
      <div class="category col-md-6">
	<li>Security</li>
      </div>
    </div>
  </div>
  <br><br><br><br><br>
  <div id="copyright">
    <br>
    <Br>
    <span>Copyright 2016 RORLab. All Rights Reserved</span>
  </div>
</footer>
